# This is an example config.

global:
  scrape_interval: 1s
  evaluation_interval: 1s

# Source for relabeling approach: https://stackoverflow.com/questions/59866342/prometheus-dynamic-metrics-path
scrape_configs:
- job_name: 'dht-prom-redirects'
  file_sd_configs:
  - files:
    - 'targets.json'
  relabel_configs:
    - source_labels: [__address__]
      regex: "(.+):.{52}:.+" # Targets are structured as <targetname>:<target z32 key>, and at prometheus level we only need the target name
      replacement: "/scrape/$1/metrics" # Captured part + /metrics appendix
      target_label: __metrics_path__ # => instead of default /metrics
    - source_labels: [__address__]
      replacement: "localhost:30000" # Replace with the port where the dht-prometheus http server runs
      target_label: __address__
    - source_labels: [__address__]
      regex: ".+:.{52}:([^:]+):.+:" # Targets are structured as <targetname>:<target z32 key>, and at prometheus level we only need the target name
      replacement: "$1" # Captured part + /metrics appendix
      target_label: hostname
    - source_labels: [__address__]
      regex: ".+:.{52}:[^:]+:(.+):" # Targets are structured as <targetname>:<target z32 key>, and at prometheus level we only need the target name
      replacement: "$1" # Captured part + /metrics appendix
      target_label: service
